<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">

<head>
	<!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	    <style>
	    	input[name=requested_move]{
  			width: 20%;
  			height: 20px;
  			align-items: center;
    		justify-content: center;
  			font-size: 10px;
  			display: inline;
			   }
			input[type=submit]{
  			font-size: 6px;
  			display: inline;
    		align-items: center;
    		justify-content: center;
	    </style>
</head>
<body style="background-color:  #252526;">

	<div class="col-auto" style="font-size:10px; color: #bcbec4;">Live board: {{ evaluation }}</div>
	<div class="col-auto">
		<svg width=30% height=30% xmlns={{ svg_img|safe }}</svg><br>
	</div>


	<form method="POST">
		<div class="col-auto">
			<input name="requested_move" id="textbox" class="form-control" autocomplete="off">
			<input type="submit" id="submit-button-request" value="Submit move" class="btn btn-outline-secondary btn-sm">
		</div>
	</form>

	<form method="POST">
		<div class="col-auto">
			<input type="submit" name="AI move" id="submit-button-AI" value="AI move" class="btn btn-outline-secondary btn-sm">
		</div>
	</form>

	<form method="POST">
		<div class="col-auto">
			<input type="submit" value="reset" name="reset" class="btn btn-outline-secondary btn-sm">
		</div>
	</form>


	<div class="col-auto" id="msg"><p style="font-size:8px; color: #bcbec4;">{{ text }}</p></div>
	<div class="col-auto" id="msg"><p style="font-size:8px; color: #bcbec4;">Legal moves: {{ legal_text }}</p></div>

</body>
</html>